[submodule "object_detection/object_detection/SoM"]
	path = object_detection/object_detection/SoM
	url = https://github.com/microsoft/SoM.git
[submodule "object_detection/SoM"]
	path = object_detection/SoM
	url = https://github.com/microsoft/SoM.git
[submodule "genmos_object_search"]
	path = genmos_object_search
	url = git@github.com:Ivyyyy24381/genmos_object_search.git
